<div style="position: relative; text-align: right; padding: 20px">
    تحية طيبة وبعد،،
    <p>
        بالإشارة الى المتابعة المستمرة للأداء الحكومي وتوفير الخدمات الحكومية بجودة وكفاءة عالية، نود إفادتكم بأنه لم
        يتم تحميل
        احصائيات الخدمات المدرجة أدناه والمطلوبة في التقرير الشهري لشهر {{REPORT_DATE}} للخدمات المقدمة من قبلكم
        للمواطنين
        والمقيمين والمستثمرين.
        وعليه نأمل منكم التفضّل بتحميل البيانات المطلوبة في أقرب صورة ممكنة.
        وتفضلوا بقبول فائق الاحترام والتقدير،،
    </p>
    <ul style="direction: rtl;">
        <li>
            {{MISSED_SERVICES}}
        </li>
    </ul>
</div>